button[disabled]{
border: 1px solid #c7c7c7;
background-color: #cccccc;
color: #9b9b9b;
}
button:hover[disabled]{
cursor: auto;
}

button{
width: 150px;
font-size: large;
margin: 10px;
padding : 10px;  
}
button:hover{
cursor: pointer;
}
input {
width: 250px;
font-size: large;
margin: 10px;
padding : 10px;    

/* Round corners button */
border-radius: 25px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div{    
/* text-align: center; */
margin: auto;

/* catches the full space to the end of the screen */
display: block;  
}

form{
column-span: all;
}


.loginContainer{
margin-top: 10%;
}
  