<p>My cart</p>
<button *ngIf="!this.cartsService.isInOrder" (click)="deleteAllCartItems()">empty cart</button>
<div *ngFor="let item of this.cartItemsService.cartItemsMap | keyvalue">
    <app-product-card #productCard productName={{item.value.productName}} price={{item.value.totalPrice}}₪
        quantity=*{{item.value.quantity}} imageURL={{item.value.imageURL}} btnValue="x"
        (childEvent)="deleteItem(item.value.itemID, item.value.productID)"></app-product-card>
</div>
<div>
    <h5>total price: {{this.cartItemsService.totalPrice}}</h5>
    <button (click)="checkout()">{{btnSubText}}</button>
</div>