.topContainer{
    padding: 10px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
button, input{
    display: inline-block;
    margin: 4px;
    padding : 6px;   
    outline: none; 
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
        /* Round corners button */
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
    background-color: rgb(53, 53, 53);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(53, 53, 53);
}
.marked{
    text-shadow: yellow 2px 2px 10px;
    color: yellow;
}
