<section>
    <aside id="cart" [ngClass]="{visible : minimise}">
        <app-cart></app-cart>
    </aside>
    <app-checkout *ngIf="this.cartsService.isInOrder" [ngClass]="{visible : minimise}"></app-checkout>
    <main *ngIf="!this.cartsService.isInOrder" [ngClass]="{visible : !minimise}">
        <button class="toggleBtn" *ngIf="!this.cartsService.isInOrder" (click)="minimise = !minimise"><i *ngIf="!minimise" class="fas fa-angle-double-right"></i>
            <i *ngIf="minimise" class="fas fa-angle-double-left"></i><i class="fas fa-shopping-cart"></i></button>
        <div class="topContainer">
            <a id="allProducts" (click)="getAllProducts()" [ngClass]="{visited : this.productsService.selectedCategory == 0} ">All products</a>
            <a *ngFor="let category of categories" [ngClass]="{visited : category.categoryID == this.productsService.selectedCategory} " id="{{category.categoryID}}"
             (click)="getProductsByCategory(category.categoryID)">{{category.categoryName}}</a>
        </div>
        <div class="mainContainer">
            <div class="productCard" *ngFor="let product of this.productsService.products | sortByCategoryPipe">
                <app-product-card productName={{product.productName}} price={{product.price}}₪
                    imageURL={{product.imageURL}} iClassName="fas fa-cart-plus" (childEvent)=openModal(product)></app-product-card>
            </div>
        </div>

    </main>
    <app-modal #modal></app-modal>
</section>