main{
min-width: 70%;
flex-direction: column;
}
aside{
min-width: 30%;
background-color: rgb(168, 57, 57);
}
section{
min-width: 100%;
min-height: 100%;
display: flex;
}
.visible{
min-width: 0%;
}
.topContainer{
display: flex;
flex-wrap: wrap; 
align-items: center;
padding: 10px;
justify-content: center;
}
.radioBtn{
display: inline-block;
position: relative;
margin: 0px;
flex: 1; 
}
a{
display: inline-block;
margin: 2px;
color: #48dbfb;
font-size: 15px;
font-weight: 500;
width: 180px;
border: 1px solid #48dbfb;
padding: 14px 0;
border-radius: 6px;
transition: .2s linear;
}
a:hover,
a:active{
background-color: #48dbfb;
color: #fff;
}
.radioBtn > input {
width: 100%;
height: 60px;
opacity: 0;

}
div:last-child label {
border-right: 0;
}

input:checked + label {
background: #d81b60;
font-weight: 500;
color: #fff;
}
label {
    position: absolute;
    top: 0; left: 0;
    color: #b6b6b6;
    width: 80px;
    height: 100%;
    background: #fff;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}



.mainContainer{
display: flex;
flex-wrap: wrap; 
align-items: center;
padding: 10px;
justify-content: center;
}
.productCard{
display: inline-block;
width: 150px;
height: 150px;
padding: 2px;
margin: 3px;
}

