<section>
    <aside id="menu">
        <button *ngIf="!this.cartsService.isInOrder">מזער</button>
        <app-menu></app-menu>
    </aside>
    <app-checkout *ngIf="this.cartsService.isInOrder"></app-checkout>
    <main *ngIf="!this.cartsService.isInOrder">
        <div class="topContainer">
            <a id="allProducts" (click)="getAllProducts()">All products</a>
            <a *ngFor="let category of categories"
             (click)="getProductsByCategory(category.categoryID)">{{category.categoryName}}</a>
        </div>
        <div class="mainContainer">
            <div class="productCard" *ngFor="let product of products">
                <app-product-card productName={{product.productName}} price={{product.price}}₪
                    imageURL={{product.imageURL}} btnValue="add to cart" (childEvent)=openModal(product)></app-product-card>
            </div>
        </div>

    </main>
    <app-modal #modal></app-modal>
</section>