main{
    min-width: 70%;
    flex-direction: column;
}
aside{
    min-width: 30%;
    background-color: rgb(168, 57, 57);
}
section{
    min-width: 100%;
    min-height: 100%;
    display: flex;
}
.visible{
    min-width: 0%;
}
.topContainer{
    display: block;
    width: 100%;
    padding: 2px;
    margin: 1px;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.productCard{
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 2px;
    margin: 3px;
}