.container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }


  .main{
    width: 100%;
    height: 50%;
}
h3{
    display: inline-block;
    margin: 0px;
}


img{
    width: 70px;
    height: auto;
}

button, input{
    display: inline-block;
    margin: 4px;
    padding : 6px;   
    outline: none; 
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
        /* Round corners button */
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
    background-color: rgb(53, 53, 53);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(53, 53, 53);
}