<div>
    <i class="fas fa-info"></i>
    <h1>Welcome to our online store</h1>
    <h4>Posted on 13 March 2021</h4>
    <div class="text-wrapper">
        <p>
            Welcome to our online store! Our team is proud to announce that we're now open for business, and we look
            forward to
            serving you all in the future. If you have any questions about this store or the products found within,
            please don't
            hesitate to contact us any time.
            Our website has been carefully designed to provide you with an amazingly flexible online shopping
            experience, and
            its ease of navigation is something we think you'll grow to depend on and appreciate. Feel free to browse
            our entire
            product catalog, and let us know if you have any questions, comments or concerns about the items housed
            within.</p>
    </div>
</div>