section{
display: flex;
width: 100%;
height: 100%;
}

main{
display: flex;
flex-direction: column;
width: 60%;
height: auto;
padding: 10px;
}
.topContainer{
display: flex;
flex-wrap: wrap; 
align-items: center;
padding: 10px;
justify-content: center;
}

.productsContainer{
display: flex;
flex-wrap: wrap; 
align-items: center;
padding: 10px;
justify-content: space-evenly;
}

aside{
width: 40%;
height: 100%;
background-color: rgb(168, 57, 57);
}

.productCard{
display: inline-block; 
width: 150px;
height: 150px;
padding: 2px;
margin: 3px;
}

a{
    display: flex;
    justify-content: center;
    margin: 0px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 10px 0;
    border-radius: 6px;
    transition: .2s linear;
}

a:hover,
.visited{
background-color: #48dbfb;
color: #fff;
}