section {
    min-height: 100%;
    border: 1px solid black;
    background-color: rgb(233, 235, 241);
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 12 columns */
    grid-template-rows: 10% 90%; 
}


header {
    grid-column: span 6;
    /* background-color: #ffffff; */
    color: white;
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/grocery-shopping-concept-foods-with-shopping-bag-royalty-free-image-1585321582.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



main {
    grid-column: span 6; 
    justify-content: center;
    align-items: center;

}
